<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.mall.dao.ActivityMapper">

  <resultMap id="BaseResultMap" type="com.mars.mall.pojo.Activity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="rule_content" jdbcType="VARCHAR" property="ruleContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, description, start_time, end_time, status, type, rule_content, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_activity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.mars.mall.pojo.Activity">
    insert into mall_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">name,</if>
      <if test="description != null">description,</if>
      <if test="startTime != null">start_time,</if>
      <if test="endTime != null">end_time,</if>
      <if test="status != null">status,</if>
      <if test="type != null">type,</if>
      <if test="ruleContent != null">rule_content,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">#{name,jdbcType=VARCHAR},</if>
      <if test="description != null">#{description,jdbcType=VARCHAR},</if>
      <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
      <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
      <if test="status != null">#{status,jdbcType=INTEGER},</if>
      <if test="type != null">#{type,jdbcType=INTEGER},</if>
      <if test="ruleContent != null">#{ruleContent,jdbcType=VARCHAR},</if>
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.mars.mall.pojo.Activity">
    update mall_activity
    <set>
      <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
      <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
      <if test="startTime != null">start_time = #{startTime,jdbcType=TIMESTAMP},</if>
      <if test="endTime != null">end_time = #{endTime,jdbcType=TIMESTAMP},</if>
      <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
      <if test="type != null">type = #{type,jdbcType=INTEGER},</if>
      <if test="ruleContent != null">rule_content = #{ruleContent,jdbcType=VARCHAR},</if>
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_activity where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="selectByFilters" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_activity
    <where>
      <if test="status != null">and status = #{status}</if>
      <if test="type != null">and type = #{type}</if>
      <if test="nameLike != null and nameLike != ''">and name like #{nameLike}</if>
    </where>
    order by update_time desc
  </select>

</mapper>